@import "../../variables.scss";

.construct {
  background-color: #f2f2f2;
  padding: 3rem 0;
}
.constructContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  @include breakpoint(lg) {
    display: block;
  }
}

.cImage {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.coltwo {
  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
    gap: 10px;
  }

  @include breakpoint(sm) {
    display: block;
  }
}
