@import "../../variables.scss";

.section {
  background-color: whitesmoke;
  padding: 6rem 0;
  margin-top: 3rem;

  @include breakpoint(md) {
    margin-top: 10rem;
  }

  @include breakpoint(sm) {
    margin-top: 20rem;
  }

  @include breakpoint(xs) {
    margin-top: 35rem;
  }
}

.subServiceHeader {
  padding: 0.5rem;
  background-color: whitesmoke;
  color: grey;
  border: solid grey 1px;
  font-size: 1.9rem;
  font-family: inherit;
  width: fit-content;
}

.service-img-container {
  position: relative;
  display: flex;
  // grid-template-columns: 1.5fr 1fr;
  @include breakpoint(lg) {
    display: block;
    margin-bottom: 4rem;
  }

  .subheader {
    padding: 2rem;
    position: relative;
  }
}

.service-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  position: relative;
}

.col-serv {
  @include breakpoint(md) {
    height: 50vh;
  }
  @include breakpoint(sm) {
    height: 30vh;
  }
}

.col-serv:nth-child(2) {
  padding: 2rem;
  position: relative;
}

.highlight {
  color: $green;
  @include breakpoint(md) {
    display: block;
  }
}

.service-wrapper {
  margin: 6rem 0;
}
.serviceCardContainer {
  display: flex;
  gap: 15px;
  margin-top: 6rem;
  margin-bottom: 12rem;
  @include breakpoint(lg) {
    display: block;
  }

  .service-card {
    background-color: floralwhite;
    border: solid 1px rgb(250, 222, 165);
    padding: 2rem;
  }
}

.approachCardContainer {
  gap: 20px;
}

.approach-card {
  margin: 3rem 0;
  padding: 2rem;
  border: solid 1px;
  .headers {
    display: flex;
    align-items: center;
    .a-icon {
      margin-right: 2rem;
      font-size: 2rem;
    }
  }
}

.a-descrip {
  margin-left: 4rem;
}

.green {
  background-color: rgb(217, 247, 228);
  border-color: rgb(134, 247, 176);
}
.blue {
  background-color: rgb(217, 238, 247);
  border-color: rgb(144, 220, 253);
}
.orange {
  background-color: rgb(247, 229, 217);
  border-color: rgb(247, 194, 159);
}
