@import "../../variables.scss";

.tab {
  background-color: $secondary;
  display: flex;
  padding: 0.5rem 18rem;
  font-size: 14px;
  align-items: center;
  z-index: -2;

  top: 0;
  box-shadow: 0 0 0 1px rgb(224, 224, 224);

  @include breakpoint(xl) {
    padding: 0.8rem 6rem;
  }
  @include breakpoint(lg) {
    padding: 0rem 2rem;
    display: block;
    position: absolute;
    top: 8.8rem;
    width: 100%;
  }

  @include breakpoint(sm) {
    top: 7.6rem;
  }

  .tabdesk {
    display: flex;
    align-items: center;
    @include breakpoint(lg) {
      display: none;
    }
  }
  .tabItems {
    padding: 0.5rem;
  }

  .tabLinks,
  .tabSupport {
    margin-right: 1.5rem;
    text-decoration: none;
    color: inherit;
    padding-right: 15px;
    border-right: solid grey 1px;
    transition: all 0.3s;
    text-transform: capitalize;
    font-weight: 300;
    @include breakpoint(lg) {
      margin-right: 0;
      padding: 1rem 0;
      border-bottom: solid 1px rgb(219, 219, 219);
      border-right: none;
    }
    &:hover {
      color: gray;
    }
  }

  .tabSupport {
    font-weight: 500;
  }
  .tabLinks:last-child {
    border-bottom: none;
  }

  .tabLinks:last-child {
    border-right: none;
  }
}

.tabNavi {
  display: none;

  @include breakpoint(lg) {
    display: flex;
    padding: 1.5rem 0;
  }
}

.chevron {
  margin-left: 1rem;
  position: relative;
  top: 1.5px;
  display: none;

  @include breakpoint(lg) {
    display: block;
  }
}

.chevron.active {
  margin-left: 1rem;
  position: relative;
  top: 2px;
  transform: rotate(180deg);
}
.tabNaviSupport {
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}

.tabTab {
  display: none;
  @include breakpoint(lg) {
    display: block;
  }
}

.tabTabItems {
  display: none;
}
.tabTabItems.active {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column !important;
}

.tabnavLink {
  padding: 2rem 0;
  text-decoration: none;
  color: inherit;
  border-top: solid 1px rgb(224, 224, 224);
  transition: ease 0.3s;
  &:hover {
    color: grey;
  }
}
