@import "../../variables.scss";

.footer {
  // position: relative;
  padding: 6rem 0;
  border-top: solid rgb(19, 19, 19) 1px;
}

.footerContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  @include breakpoint(lg) {
    display: block;
  }
}

.footerLink {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
  text-transform: capitalize;
  cursor: pointer;
  &:hover {
    color: grey;
  }
}

.footersocials {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  .footersocialsIcon {
    font-size: 2rem;
    cursor: pointer;
  }
}

.copyright {
  position: relative;
  background-color: teal;
  padding: 0.6rem 0;
  color: white;
  bottom: 0;
}
