@import "./variables.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 62.5%;
  // font-size: calc(18px - 1vmin);
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  color: rgb(44, 44, 44);
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.7rem;
  line-height: 1.1;
}

h4,
p {
  font-size: 1.45rem;
}

ul {
  list-style: none;
}

main {
  margin: 0 12rem;
  position: relative;

  @include breakpoint(xl) {
    margin: 0 6rem;
  }

  @include breakpoint(lg) {
    margin: 0 2rem;
  }

  @include breakpoint(sm) {
    margin: 0 2rem;
  }
}
