$background: rgb(250, 250, 250);
$darkgrey: rgb(27, 27, 27);
$main: rgb(255, 187, 0);
$greenLight: #8fef84;
$greenLight2: #44bc50;
$green: #0d7f39;
$greenDark2: #004b24;
$greenDark: #00211a;
$main-btn-hover: rgb(253, 220, 32);
$secondary: #f2f2f2;

//-------break-points---------//

$extra-extra-large: 1400px;
$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;
$xtra-small: 480px;

@mixin breakpoint($point) {
  @if $point==xxl {
    @media screen and (max-width: $extra-extra-large) {
      @content;
    }
  }
  @if $point==xl {
    @media screen and (max-width: $extra-large) {
      @content;
    }
  }
  @if $point==lg {
    @media screen and (max-width: $large) {
      @content;
    }
  }
  @if $point==md {
    @media screen and (max-width: $medium) {
      @content;
    }
  }
  @if $point==sm {
    @media screen and (max-width: $small) {
      @content;
    }
  }
  @if $point==xs {
    @media screen and (max-width: $xtra-small) {
      @content;
    }
  }
}
